body
    font-family: sans-serif
    display: flex
    flex-direction: column
    align-items: center

#app
    // background-color: #68aecd
    width: 300px
    height: 500px
    display: flex 
    flex-direction: column
    align-content: center
    align-items: center
    border: 5px solid #0c729e
    border-radius: 20px
    padding: 5px
    
    h3
    
    h4
        
    
    
    #addNewTask
        background-color: #68aecd
        width: 235px
        display: flex
        flex-direction: row
        justify-content: space-between
        border-radius: 20px
        padding: 15px
        cursor: pointer
        .fa-plus
            background-color: #1a7ca7
            padding: 6px
            border-radius: 4px
    #tasks
        display: flex
        flex-direction: column
        height: 100px
        width: 230px
        background-color: #68aecd
        padding: 15px
        border: 5px solid #0c729e
        padding: 10px
        border-radius: 20px 
        h5
            margin: 2px 0px 10px
            font-weight: bolder
        p
            margin: 0px
        span
            display: flex
            flex-direction: row
            justify-content: flex-end
        i
            background-color: #1a7ca7
            padding: 8px
            margin: 5px
            border-radius: 5px 
            cursor: pointer

